<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LOG_PATH" value="D:\BIJOB\"/>
    <add key="LOG_MAIL" value="haisen.qiu@multek.com"/>
    <add key="USER_MAIL" value="haisen.qiu@multek.com"/>
    <add key="SMTPServer" value="smtp2.sac.flextronics.com"/>
  </appSettings>
  <connectionStrings>
    <add name="db_mcn801multekapp" connectionString="Data Source=mcnnt801;Initial Catalog=MultekIrv_Apps;User ID=Multekapp;Password=abcd@123;Connect Timeout=600"/>
    
    <add name="db_mcn801multekbi"  connectionString="Data Source=mcnnt801;Initial Catalog=Multek_BI;User ID=Multekapp;Password=abcd@123;Connect Timeout=600"/>
    
    <add name="db_mcn802bi" connectionString="Data Source=mcnnt802;Initial Catalog=BI;User ID=sa;Password=P@ssw0rd;Connect Timeout=600"/>

    <add name="db_init" connectionString="Data Source=mcnnt802;Initial Catalog=BI_INIT;User ID=sa;Password=P@ssw0rd;Connect Timeout=600"/>

  </connectionStrings>
  <system.net>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
